.container {
    background-color: aliceblue;
    height: 100%;
    border-radius: 12px;
    position: relative;
    display: flex;
    flex-direction: column;
    /* flex-grow: 1; */
    /* box-shadow: 0 4px 8px 0 rgba(0 0, 0, 0.2); */
}

.heading {
    padding: 1rem;
    color: black;
    text-align: center;
    font-weight: 900;
    font-size: 2rem;
}

.addbtn {
    background-color: black;
    color: white;
    border-radius: 22em;
    border: none;
    width: 40px;
    height: 40px;
    position: absolute;
    right: 20px;
    top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

.addbtn:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.817);
}

.links {
    height: 60vh;
    overflow-y: auto;
    padding: 1em;
}
