.link {
    padding: 10px;
    border-radius: 12px;
    transition: background-color 200ms;
}

.link:hover {
    background-color: rgb(213, 231, 247);
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.below {
    padding: 10px;
}

.left {
    display: flex;
    gap: 10px;
    align-items: center;
}

.left span {
    display: none;
}

.right {
    display: flex;
    gap: 10px;
}
.title {
    font-weight: 600;
}
.italics {
    font-style: italic;
    color: rgba(40, 40, 40, 0.612);
}
.description {
    color: rgba(0, 0, 0, 0.742);
}

.in_link {
    text-overflow: ellipsis;
    color: rgba(0, 0, 0, 0.742);
    font-style: italic;
    font-size: 0.8rem;
    background-color: rgb(191, 221, 248);
    border-radius: 9px;
    padding: 0.5em;
    margin-top: 10px;
}

.in_link:hover {
    cursor: pointer;
    text-decoration: underline;
}

.delete {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

@container (min-width:700px) {
    .left span {
        display: unset;
    }
}
