.link {
    padding: 10px;
    border-radius: 12px;
    transition: background-color 200ms;
}

.link:hover {
    cursor: pointer;
    background-color: rgb(213, 231, 247);
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.below {
    padding: 10px;
}

.left {
    display: flex;
    gap: 10px;
    align-items: center;
}

.right {
    display: flex;
    gap: 10px;
}
.title {
    font-weight: 600;
}
.italics {
    font-style: italic;
    color: rgba(40, 40, 40, 0.612);
}
.description {
    color: rgba(0, 0, 0, 0.742);
}

.delete {
    border: none;
    background-color: transparent;
    cursor: pointer;
}
