.modal {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(1px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.frame {
    width: 95vw;
    height: 95vh;
}

.close {
    width: 40px;
    height: 40px;
    position: fixed;
    top: 10px;
    right: 10px;
    color: white;
    background-color: black;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    user-select: none;
}
