.group {
    padding: 15px;
    border-radius: 12px;
    margin-bottom: 16px;
    font-weight: 500;
    background-color: rgba(0, 0, 0, 0.1);
    color: white;
    /* transition: background-color 300ms; */
}

.group:hover {
    cursor: pointer;
}
