@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Single+Day&display=swap");

:root {
    --color-primary: #2f27ce;
    --color-secondary: #dedcff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter;
    /* outline: 1px solid red; */
}

body {
    height: 100vh;
    container-type: size;
}

#root {
    display: flex;
    flex-direction: column;
    height: 100%;
}
